services:
  db:
    image: postgis/postgis:16-3.4
    container_name: sp_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    build: .
    container_name: sp_web
    env_file: .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - .:/app # Docker will sync code from host code changing
    command: bash -c "until pg_isready -h db -p 5432 -U sp_user; do echo 'Waiting for Postgres...'; sleep 1; done; sleep 2; python manage.py migrate --run-syncdb --skip-checks && python manage.py migrate --skip-checks && gunicorn server.wsgi:application -b 0.0.0.0:8000 --workers 1 --timeout 120 --graceful-timeout 30 --keep-alive 5 --access-logfile - --error-logfile -"


  adminer:
    image: adminer
    container_name: sp_adminer
    depends_on: [db]
    ports:
      - "8080:8080"

volumes:
  pgdata:
